body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

section {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
}

.box {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 10px;
}

h1 {
    color: aqua;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Erstellt 3 Spalten */
    grid-gap: 10px;
    max-width: 1000px;
    margin: 0 auto; /* Zentriert das Grid horizontal */
    justify-content: center; /* Zentriert die Grid-Items im Grid-Container */
}

.grid-item {
    padding: 20px;
    text-align: center;
    background-color: lightgrey;
}

.grid-item img {
    width: 100%; /* Stellt sicher, dass das Bild die gesamte Breite des Grid-Items einnimmt */
    height: auto; /* Behält das Seitenverhältnis des Bildes bei */
}
